html, body, ul, ol, nav {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

nav {
  background: #999; }
  nav ul {
    list-style: none; }
  nav li {
    display: inline-block; }
  nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #fff; }
    nav a:hover {
      color: lime;
      background: #000; }
