html, body, ul, ol, nav {
  margin: 0;
  padding: 0; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

nav {
  background: #999; }
  nav ul {
    list-style: none; }
  nav li {
    display: inline-block; }
  nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #fff; }
    nav a:hover {
      color: lime;
      background: #000;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px; }

.container {
  width: 100%; }

article[role=main] {
  float: left;
  width: 62.5%; }

article[role=complementary] {
  float: right;
  width: 31.25%; }
