@import 'reset';
@import 'mixins';
@import 'alerts';

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$nav-bg-color: #999;
$nav-color: #fff;
$nav-color-light: lime;
$nav-bg-color-light: #000;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  background: $nav-bg-color;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: $nav-color;

    &:hover {
      color: $nav-color-light;
      background: $nav-bg-color-light;
      @include border-radius(7px);
    }
  }
}

.container {
  width: 100%;
}

article[role=main] {
  float: left;
  width: 600px / 960px * 100%;
}

article[role=complementary] {
  float: right;
  width: 300px / 960px * 100%;
}

.funky {
  font: {
    family: fantasy; // font-family
    size: 3em; // font-size
    weight: bold; // font-weight
  }
}
