body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    width: 960px;
    grid-template-columns: 100px 30% 1fr;
    grid-template-rows: 200px 100px;
    grid-gap: 1rem;
}

.item {
    border: 1px solid #000;
}